.base {
    background-color: #f2f2f2;
}

.topinfo {
    background-color: #fff;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    height: 282px;
}

.topinfo .left {
    width: 320px;
    height: 240px;
    margin-right: 20px;
}

.topinfo .left img {
    width: 100%;
    height: 100%;
}

.topinfo .right{
    flex: 1;
}

.topinfo .right .nametop .name  {
    font-size: 20px;
    color: #42647f;
    font-weight: 700;
}

.topinfo .right .nametop .adress  {
    font-size: 12px;
    color: #8a9ca8;
    margin-top: 5px;
   
}

.topinfo .right .imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 34px;
}

.topinfo .right .imgs img {
    width: 100px;
    height: 75px;
    cursor: pointer;
}

.middle_box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px;
}

.middle_box .left_box {
    width: 990px;
    /* border:1px solid #333; */
}


.middle_box .right_box {
    width: 190px;
    /* border:1px solid #333; */
}

.tabs {
    display: flex;
    align-items: center;
    background-color: #698496;
    transition: .05s;
}

.tab {
    width: 88px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.tab.active {
    background-color: #fff;
    color: #698496;
}

.content section {
    /* height: 400px; */
    display: none;
    padding: 10px;
    background-color: #fff;
    
}

.content section h1 {
    margin-bottom: 10px;
}

.content section.active {
    display: block;
}

.search_line {
    display: flex;
    align-items: center;
    gap: 40px;
    height:60px;
    border-bottom: 1px solid #ddd;
}

.search_line .sear_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_line .sear_item span {
    font-size: 14px;
}

.search_line .sear_item  input {
    width: 186px;
    height: 27px;
}

.search_line button {
    width: 60px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background-color: #63b8f0;
   
    border-radius: 4px;
    border: none;
    cursor: pointer;
     border-bottom: 3px solid #3aa6ee;
}

.room_item {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room_item .left .name {
    font-size: 14px;
    color: #42647f;
    margin-bottom: 5px;
}

.room_item .left .lables {
    font-size: 12px;
    color: #42647f;
}

.room_item:last-child{
    border-bottom: 1px solid #fff;
}

.room_item .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.room_item .right .price {
    font-size: 24px;
    color: #ff5741;
}

.room_item .right button {
    width: 115px;
    height: 34px;
    color: #fff;
    background-color: #63b8f0;
    border: none;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 4px solid #3aa6ee;
}


.right_box .baozhang {
    padding: 15px;
    width: 100%;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.right_box .baozhang .titles {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    text-align: center;

}

.right_box .baozhang .titles .title1 {
    font-size: 16px;
    color: #42647f;
    font-weight: 700;
}

.right_box .baozhang .titles .smalltitle {
    font-size: 10px;
    color: #42647f;
    
}


.right_box .baozhang .uls {
    padding: 10px;
}

.right_box .baozhang .uls .ulitem {
    display: flex;
    margin-bottom: 20px;
}

.right_box .baozhang .uls .ulitem .icons{
    margin-right: 20px;
    font-size: 16px;
    color: #42647f;
}

.right_box .baozhang .uls .ulitem .contents .name {
    font-size: 14px;
    color: #6381a3;
    margin-bottom: 5px;
}


.right_box .baozhang .uls .ulitem .contents .namelabel {
    font-size: 12px;
    color: #8da3bc;

}


.right_box .cars {
    width: 100%;
    height: 370px;
}

.right_box .cars img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
}


.about {
    width: 100%;
    height: 200px;
    background-color: #fff;
    padding: 15px;
}

.about .title {
    color: #42647f;
    font-size: 18px;
    margin-bottom: 10px;
    font-size: 700;
}

.about .about_content {
    color: #42647f;
    font-size: 12px;
    line-height: 1.9;
}


.fals {
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.fals .title {
    color: #42647f;
    font-size: 18px;
    margin-bottom: 10px;
    font-size: 700;
}

.fals .about_content {
    color: #42647f;
    font-size: 12px;
    line-height: 1.9;
}

.comment_item {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 35px 25px;
    border-bottom: 1px solid #ddd;
}
.comment_item:last-child{
    border-bottom: 1px solid #fff;
}

.comment_item .user{
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment_item .user img {
    width: 100%;
    height: 100%;
}

.comment_item .user .username{
    font-size: 12px;
    clip-rule: #42647f;
}

.comment_item .comment {
    flex: 1;
}

.comment_item .comment .com {
    font-size: 12px;
    color: #404040;
}

.comment_item .comment .time {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 15px;
}